<doctype html>
<html ng-app='myapp'>
  <head>
    <title>Page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container"  ng-controller="userCtrl">
      <header class="mt-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"><img src="/front/images/logo-c.png" alt="Logo" height="100" width="100"/></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="#">PHP</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              CMS
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">WordPress</a>
                              <a class="dropdown-item" href="#">Drupal</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Joomla</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Magento
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Magento1</a>
                              <a class="dropdown-item" href="#">Magento2</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Frameworks
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Laravel</a>
                              <a class="dropdown-item" href="#">Symfony2</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Contact</a>
                      </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search Inside" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </div>
          </nav>
      </header>
      <div class="breadcrumb"></div>
      <main id="main-content">
        <div class="message"></div>
        <div class="columns row">
          <div class="column main col-8">


              <!-- Display records -->
              <div class="posts row" ng-repeat="user in users">
                <h3 class="col-12">{{user.title}}</h3>
                  <div class="post-content">
                      <a style="float:left;padding: 20px"  ng-show="user.thumbnail" href='#'>
                          <img ng-src="/manage/public/images/{{user.thumbnail}}"
                               height="50" width="50" alt="Thumbnail"/>
                      </a>
                      <p class="post-content-text" style="text-align: justify" ng-bind-html="user.content">{{user.content}}</p>
                  </div>
              </div>


          </div>
          <div class="sidebar-right col-4"></div>
        </div>
        <footer class="mt-footer">

        </footer>
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script type="text/javascript">
        var fetch = angular.module('myapp', ['ngSanitize']);

        fetch.controller('userCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.myText = "My name is: <h1>John Doe</h1>";
            $scope.link = '/manage/public/images/1508832516.png';
            $http({
                method: 'get',
                url: 'front/getData.php'
            }).then(function successCallback(response) {
                // Store response data
                $scope.users = response.data;

            });
        }]);

    </script>
  </body>
</html>
