body {
  color: #000;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: #eee;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

a {
  color: #eee;
}
a:hover {
  background-color: #eee;
}

/* Main */
.page-wrapper {
  margin: 0px auto;
}

.mt-header {
  width: 100%;
  height: 20vh;
  background: #aae;
  position: relative;
}
.mt-header .logo {
  float: left;
  width: 100%;
}
.mt-header .menu {
  width: 100%;
}
.mt-header .menu ul {
  width: 100%;
}
.mt-header .menu ul li {
  width: 200px;
  list-style: none;
  float: left;
  background: #eee;
  color: #007;
  margin: 0px 10px;
  padding: 10px;
}

.breadcrumb {
  float: left;
  width: 100%;
  background: none;
  color: #eee;
}

#main-content {
  float: left;
  width: 100%;
}
#main-content .post-content {
  margin-bottom: 20px;
}

.post-content p {
  text-align: justify;
}

.mt-footer {
  float: left;
  width: 100%;
  background: #aee;
}

/*# sourceMappingURL=style.css.map */
