$color: #eee;
$font-color: #000;
$button-color: #f00;
$font-size: 16px;
$width: 960px;
$header-background-color: #aee;
$footer-background-color: #aee;

body {
  color: $font-color;
  font-size: $font-size;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: #eee;
}

h1,h2,h3,h4,h5 {
  color: $font-color;
}

a {
  color: $color;
  &:hover {
    background-color: $color;
  }
}

/* Main */
.page-wrapper {
  margin: 0px auto;
}
.mt-header {
  width: 100%;
  height: 20vh;
  background: #aae;
  position: relative;
  .logo {
    float: left;
    width: 100%;
  }
  .menu {
    width: 100%;
    ul {
      width: 100%;
      li {
        width: 200px;
        list-style: none;
        float: left;
        background: #eee;
        color: #007;
        margin: 0px 10px;
        padding: 10px;
      }
    }
  }
}
.breadcrumb {
  float: left;
  width: 100%;
  background: none;
  color: $color;
}
#main-content {
  float: left;
  width: 100%;
  .post-content {
    margin-bottom: 20px;
  }
}
.post-content p {
  text-align: justify;
}
.mt-footer {
  float: left;
  width: 100%;
  background: $header-background-color;
}