<!doctype html>
<html ng-app='myapp'>

   <head>

     <meta charset="utf-8"/>


		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->
		<link href="style.css" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


   </head>

   <body>
      <div>
         <label>Name:</label>
         <input type = "text" ng-model = "yourName" placeholder = "Enter a name here">
         <hr />

         <h1>Hello Suyash {{yourName}}!</h1>
      </div>

      <!-- The navigation menu will get the value of the "active" variable as a class.
			 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

		<nav class="{{active}}" ng-click="$event.preventDefault()">

			<!-- When a link in the menu is clicked, we set the active variable -->

			<a href="#" class="home" ng-click="active='home'">Home</a>

			<a href="#" class="about" ng-click="active='about'">About</a>
			<a href="#" class="contact" ng-click="active='contact'">Contact</a>
		</nav>

		<!-- ng-show will show an element if the value in the quotes is truthful,
			 while ng-hide does the opposite. Because the active variable is not set
			 initially, this will cause the first paragraph to be visible. -->


		<p ng-show="active">You chose <b>{{active}}</b></p>


    <div ng-controller="userCtrl">



 <!-- Display records -->
 <div class="posts" ng-repeat="user in users">
 <h3>{{user.title}}</h3>
 <p ng-bind-html="user.content">{{user.content}}</p>
     <p><img src="{{user.thumbnail}}" alt="image"/></p>

<div ng-repeat="user in users">
        <p ng-bind-html="user.content">{{user.content}}</p>
 </div>
    </div>


		<!-- Include AngularJS from Google's CDN -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
  <!--<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>-->

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <script type="text/javascript">
 var fetch = angular.module('myapp', ['ngSanitize']);

 fetch.controller('userCtrl', ['$scope', '$http', function ($scope, $http) {
     $scope.myText = "My name is: <h1>John Doe</h1>";
  $http({
   method: 'get',
   url: '/customer'
  }).then(function successCallback(response) {
   // Store response data
   $scope.users = response.data;

  });
 }]);

 </script>
   </body>
</html>
